<img alt="{{ ['Готовим','Приготовим','Вкусные','Полезные','Простые','Легкие','Разнообразные','Необычные','Невероятные'] | random }} {{ rcp.recipeCategory }} в программе Украинцы Много Едят за {{ dateLoc }}" src="{{ imgsrc }}">
<p>{{ ['Специально для тех','Для тех','Для','Рекомендованно','Определенно для тех','Исключительно для тех','Исключительно для','Специально для тех','Специально для'] | random }}
 Украинцев, которые {{ ['много едят','предпочитают много и вкусно поесть','слишком много едят','немного переедают','питаются с излишком'] | random }},
 {{ ['эксперты','профессионалы','профессиональные дегустаторы','ведущие специалисты','знающие люди','сведующии люди','бывалые','умные люди'] | random }}
 {{ ['рассказали','рассказали секрет','открыли секрет','рассказали лайфхак','рассказали рецепт','рассказали способ','рассказали метод','дали совет','научили',
 'подсказали','поделились','поделились секретом','поделились лайфхаком','поделились рецептом','поделились способом','поделились методом'] | random }},
 {{ ['как готовят','как приготовить','как сделать'] | random }}
 блюдо "{{ rcp.name }}".</p>
<p>{{ ['Для приготовления рецепта','Чтобы приготовить'] | random }} "{{ rcp.name }}" {{ ['Вам понадобится','потребуется','необходимо','используется','нужно'] | random }} {{ rcp.ingredientsCountTxt }} {{ rcp.ingredientsCountMsg }}...</p>
<p><b>{{ ['Секрет','Состав','Ингредиенты','Продукты','Необходимо взять','Надо','Надо взять','Кладем','Берем'] | random }}:</b></p>
<p>
{% set cls = cycler('Берем','Берем','Берем','Добавляем','Добавляем','Добавляем','Кладем','Кладем','Кладем','Кладем','Кладем','Кладем','Кладем') %}
{% set i = 1 %}
{% for feature in rcp.ingredients %}
Ингредиент {{ i }}: {{ cls.next() }} {{ feature.name | lower }} {{ feature.amount }}<br>
{% set i = i + 1 %}
{% endfor %}
</p>

{% set rcp_name = '"' + rcp.name + '"' %}
{% set step_1 = ['Для начала','Первым делом','На шаге один','Первоначально','В первую очередь','Прежде всего','Сперва','Поначалу'] | random %}
{% set step_2 = ['Затем','Вторым делом','На шаге два','Вторым шагом','Во вторую очередь','Следующим шагом','Во-торых'] | random %}
{% set step_next = ['Затем','Следующим шагом','Далее','Потом'] | random %}
{% set step_last = ['И наконец','В завершении','Последний шаг','Окончательно','Окончание','После всего','Напоследок','Последний штрих'] | random %}
{% set clsstep = cycler(step_1, step_2, step_next, step_next, step_next, step_next, step_next, step_next, step_next, step_next, step_next, step_next) %}
<p><b>{{ ['Способ приготовления','Как готовить','Как приготовить','Шаги','Шаги приготовления','Последовательность','Приготовление'] | random }}
 {{ [rcp_name ] | random }}:</b></p>
<p>
{% for feature in rcp.instructions %}
{% if loop.last %}{{ step_last }}{% else %}{{ clsstep.next() }}{% endif %}: {{ feature }}<br>
{% endfor %}
</p>

<p>Прислушаемся к {{ ['рецептам','рекомендациям','пожеланиям'] | random }} {{ ['для','от'] | random }} Украинцев, которые
 {{ ['много едят','предпочитают много поесть','предпочитают вкусно поесть','предпочитают много и вкусно поесть','слишком много едят','немного переедают','переедают','питаются с излишком'] | random }}.</p>
 <p>{{ ['Возможно','Предположительно','Надеемся','Будем рады, если'] | random }}, рецепт {{ ['', rcp_name] | random }} {{ ['окажется полезным для Вас','будет полезен Вам','Вам пригодится','Вам понравится'] | random }}!</p>