<img alt="Офіційний курс рубля RUB на {{ dateLoc }} " src="{{ imgsrc }}">
<p>Центральним Банком Росії (ЦБ РФ) на {{ dateloc }} встановлено наступний курс рубля RUB до іноземних валют:</p>

{% for feature in features %}{% if feature.code=='USD/RUB' or feature.code=='EUR/RUB' or feature.code=='GBP/RUB'
or feature.code=='RUB/RUB' %}<p>{{ feature.code }} ({{ feature.currency }}) {{ feature.rate }}</p> {% endif %}{% endfor %}

<table class="table-finance">
<thead>
<tr>
<th>Код</th>
<th>одиниці</th>
<th>Курс</th>
<th class="mob_hidden">Дата</th>
<th class="mob_desksm_hidden">Назва</th>
</tr>
</thead>
<tbody>
{% for feature in features %}
<tr>
<td>{{ feature.code }}</td><td>{{ feature.amount|default('1')}}</td><td>{{ feature.rate }}</td>
<td class="mob_hidden">{{ dateloc2 }}</td><td class="mob_desksm_hidden">{{ feature.currency | upper }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<p>Кожен день аналітики Бібабо (Bbabo.net) публікують актуальну інформацію за офіційними данними ЦБ РФ.</p>
